<div class="todo">
  <textarea class="form-control" rows="2" placeholder="Input your task"></textarea>
  <button class="btn btn-primary">Add task</button>
  <div class="row">
    <div class="col-md-7">
      <span class="left icon glyphicon glyphicon-ok"></span>
      <span class="left">task</span>
      <textarea class="form-control left" rows="2"></textarea>
    </div>
    <div class="col-md-5">
      <button class="btn btn-warning">Edit</button>
      <button class="btn btn-secondary">Done</button>
      <button class="btn btn-danger">Remove</button>
    </div>
  </div>
</div>
